<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppController">
<head>
	<meta charset="utf-8">
	<title>Angular Practice</title>
	<link rel="stylesheet" href="../css/angular.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
</head>
<body ng-app="ngAnimate">
	<div>
		<p>Here is an injection: (In html, you put something between double curly braces and it prints out for you. Here, I put in (9 * 8) / 2.</p>
		<p>{{ (9 * 8) / 2 }}</p>
	</div>
	<div>
      	<label>Enter your first name:</label>
      	<input type="text" ng-model="firstName" placeholder="Enter a name here">
      	<h1>Hello: {{firstName}}!</h1>
      	<h2>The full name is: {{fullName()}}</h2>
    </div>
   
	<div>{{12347859834.9345345 | number:2}}</div>
	<div>{{45 | currency}}</div>

	<div>
		<ul>
		    <li ng-if="1 < 2">One is Less Than Two</li>
		    <li ng-if="1 <= 2">One is Less Than or Equal to Two</li>
		    <li ng-if="1 == 2">One is Equal to Two</li>
		    <li ng-if="1 >= 2">One is Greater Than or Equal to Two</li>
		    <li ng-if="1 > 2">One is Greater Than Two</li>
		</ul>
	</div>

	<div>
		<ol>
    		<li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{letter}}</li>
		</ol>
		<ul>
			<li ng-repeat="name in ['Jay', 'Max', 'Alison', 'Matt', 'Alex']  | filter:'x' ">{{name}}</li>
		</ul>
	</div>

	<div>
		<ul>
    		<li ng-repeat="num in [1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-hide="num % 3 == 0">
        {{num}} is not divisible by three. That's why you can see it.
    		</li>
		</ul>
	</div>
	<div>
		<ul>
			<li ng-repeat="letters in ['a', 'b', 'c', 'd', 'e', 'f', 'g']">{{letters | lowercase}} {{letters | uppercase}}</li>
		</ul>
	</div>
	<div>
		<img ng-source="{{'../img/1.jpg'}}" alt="first image">
		<img ng-source="{{'../img/2.jpg'}}" alt="second image">
		<img ng-source="{{'../img/3.jpg'}}" alt="third image">
	</div>

	<form novalidate>
	    <label for="first_name">First Name</label>
	    <input type="text" id="first_name" ng-model="user.firstName" maxlength="50" required>

	    <label for="last_name">Last Name</label>
	    <input type="text" id="last_name"  ng-model="user.lastName" maxlength="50" required>

	    <label for="email">eMail</label>
	    <input type="email" name="myEmail" id="email" ng-model="user.email"  required>

	    <label for="password">Password</label>
	    <input type="password" id="password" ng-model="user.password" minlength="12" required>
	</form>
	<!--test -->
	<div>
    	Welcome {{user.firstName + " " + user.lastName}}<br>
    	We will send a confirmation eMail to {{user.email}}
	</div>
	<div>
		<p>The Url of this page is: {{thisUrl}}</p>
		<button ng-click="count = count + 1">Click Me!</button>
		<p>{{count}}</p>
	</div>
	<div>

		<p>{{x1}}</p>
		<p>Same as above, but using angular.lowercase(): {{x2}}</p>
		<p>Now with angular.uppercase(): {{x3}}</p>
	</div>


    <script src="../js/angular_practice.js"></script>
</body>
</html>