<!DOCTYPE html>
<html ng-app="modelTest">
<head>
	<title>Model Test</title>
	<meta charset="utf-8">
</head>
<body>
	<form novalidate>
		<label for="name">Name</label>
		<input type="text" id="name" ng-model="user.name" maxlength="50" required><br>
		<label for="email">Email Address</label>
		<input type="email" id="email" ng-model="user.email" minlength="6" required><br>

		<label for="birthday">Date of Birth</label>
		<input type="date" id="birthday" ng-model="user.birthday" required><br>

		<label for="github">Github Page</label>
		<input type="url" id="github" ng-model="user.github" required><br>

		<label for="image">Select an Image</label>
		<select id="image" name="image">
			<option></option>
			<option></option>
			<option></option>

		
	</form>

	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/modelTest.js"></script>
</body>
</html>